.progress-bar {
  &__wrapper {
    width: 100%;
    height: 18px;
    background-color: $background-color;
    border-radius: 20px;
    overflow: hidden;
    padding: 7px;
  }

  &__used {   
    width: 90%;
    height: 100%;
    background: linear-gradient(to right,  $color-slide-1, $color-slide-2);
    border-radius: inherit;
    position: relative;
    transition: 1s ease-in-out;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 3px;
      width: 10px;
      height: 10px;
      border-radius: 50px;
      background-color: white;
    }
  }
  &__detials {
    display: flex;
    justify-content: space-between;
  }
}

// .slider {
//     -webkit-appearance: none;
//     width: 90%;
//     height: 13px;
//     margin-left: 21px;
//     border-radius: 5px;  
//     background: hsl(229, 57%, 11%);
//     outline: none;
//     opacity: 0.7;
//     -webkit-transition: .2s;
//     transition: opacity .2s;
//   }
  
//   .slider::-webkit-slider-thumb {
//     -webkit-appearance: none;
//     appearance: none;
//     width: 25px;
//     height: 25px;
//     border-radius: 50%; 
//     background-image: linear-gradient(to right,  $color-slide-1, $color-slide-2);
//     cursor: pointer;
//   }
  